supplier_allocation:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: procurement
      password: procurement
      port: 5433
      dbname: procurement
      schema: analytics
      threads: 2
